# Archivos de configuración sensible y estado de Terraform
*.tfplan
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
crash.log
override.tf
override.tf.json
*override.tf
*override.tf.json

#Archivos de estado y configuración
*.tfstate
*.tfstate.backup
terraform.tfvars

# Directorio de módulos y ejecutables de proveedores (ESTO ES LO CRÍTICO)
.terraform/